<div class="card_product_right">
  <div class="row">
    <div class="child-1 col-12 col-md col-sm col-lg col-xl">
      <div class="card">
        <img class="card-img-top px-2" src="../../../content/images/landingpage/card/img_card_01.png" alt="Card image cap" />
        <div class="middle">
          <div class="text_middle d-flex">
            <input class="icon_heart mx-1 mt-2" type="radio" name="icon_heart" id="icon_heart" />
            <label for="icon_heart" class="icon_hover fa-2x fas fa-heart mr-4"></label>

            <input class="icon_cart mx-1 mt-2" type="radio" name="icon_cart" id="icon_cart" />
            <label for="icon_cart" class="icon_hover fa-2x fas fa-cart-arrow-down"></label>
          </div>
        </div>
        <div class="card-body">
          <h6 class="card-title"><b>Skin care</b></h6>
          <a href="#" class="card-text text-danger">Thu Hoa Store</a>
          <div class="star-widget d-flex">
            <div class="d-flex" style="flex-flow: row-reverse; justify-content: flex-start">
              <input class="mx-1 mt-2" type="radio" name="rate" id="rate-1" />
              <label for="rate-1" class="fas fa-star mr-2 mt-1"></label>
              <input class="mx-1 mt-2" type="radio" name="rate" id="rate-2" />
              <label for="rate-2" class="fas fa-star mr-2 mt-1"></label>
              <input class="mx-1 mt-2" type="radio" name="rate" id="rate-3" />
              <label for="rate-3" class="fas fa-star mr-2 mt-1"></label>
              <input class="mx-1 mt-2" type="radio" name="rate" id="rate-4" />
              <label for="rate-4" class="fas fa-star mr-2 mt-1"></label>
              <input class="mx-1 mt-2" type="radio" name="rate" id="rate-5" />
              <label for="rate-5" class="fas fa-star mr-2 mt-1"></label>
            </div>
          </div>
          <p class="discount_title text-danger"><b>500.000 đ</b></p>
        </div>
      </div>
    </div>
    <div class="child-1 col-12 col-md col-sm col-lg col-xl">
      <div class="card">
        <img class="card-img-top px-2" src="../image/home/card/img_card_08.png" alt="Card image cap" />
        <div class="middle">
          <div class="text_middle d-flex">
            <input class="icon_heart mx-1 mt-2" type="radio" name="icon_heart" id="icon_heart" />
            <label for="icon_heart" class="icon_hover fa-2x fas fa-heart mr-4"></label>

            <input class="icon_cart mx-1 mt-2" type="radio" name="icon_cart" id="icon_cart" />
            <label for="icon_cart" class="icon_hover fa-2x fas fa-cart-arrow-down"></label>
          </div>
        </div>
        <div class="card-body">
          <h6 class="card-title"><b>Skin care voucher at Hoa Beauty</b></h6>
          <a href="#" class="card-text text-danger">Thu Hoa Store</a>
          <div class="star-widget d-flex">
            <div class="d-flex" style="flex-flow: row-reverse; justify-content: flex-start">
              <input class="mx-1 mt-2" type="radio" name="rate" id="rate-1" />
              <label for="rate-1" class="fas fa-star mr-2 mt-1"></label>
              <input class="mx-1 mt-2" type="radio" name="rate" id="rate-2" />
              <label for="rate-2" class="fas fa-star mr-2 mt-1"></label>
              <input class="mx-1 mt-2" type="radio" name="rate" id="rate-3" />
              <label for="rate-3" class="fas fa-star mr-2 mt-1"></label>
              <input class="mx-1 mt-2" type="radio" name="rate" id="rate-4" />
              <label for="rate-4" class="fas fa-star mr-2 mt-1"></label>
              <input class="mx-1 mt-2" type="radio" name="rate" id="rate-5" />
              <label for="rate-5" class="fas fa-star mr-2 mt-1"></label>
            </div>
          </div>
          <p class="discount_title text-danger"><b>500000 đ</b></p>
        </div>
      </div>
    </div>
    <div class="child-1 col-12 d-none d-md-none d-sm-none d-lg-block col-lg col-xl">
      <div class="card">
        <img class="card-img-top px-2" src="../image/home/card/img_card_10.png" alt="Card image cap" />
        <div class="middle">
          <div class="text_middle d-flex">
            <input class="icon_heart mx-1 mt-2" type="radio" name="icon_heart" id="icon_heart" />
            <label for="icon_heart" class="icon_hover fa-2x fas fa-heart mr-4"></label>

            <input class="icon_cart mx-1 mt-2" type="radio" name="icon_cart" id="icon_cart" />
            <label for="icon_cart" class="icon_hover fa-2x fas fa-cart-arrow-down"></label>
          </div>
        </div>
        <div class="card-body">
          <h6 class="card-title"><b>Skin care voucher at Hoa Beauty</b></h6>
          <a href="#" class="card-text text-danger">Thu Hoa Store</a>
          <div class="star-widget d-flex">
            <div class="d-flex" style="flex-flow: row-reverse; justify-content: flex-start">
              <input class="mx-1 mt-2" type="radio" name="rate" id="rate-1" />
              <label for="rate-1" class="fas fa-star mr-2 mt-1"></label>
              <input class="mx-1 mt-2" type="radio" name="rate" id="rate-2" />
              <label for="rate-2" class="fas fa-star mr-2 mt-1"></label>
              <input class="mx-1 mt-2" type="radio" name="rate" id="rate-3" />
              <label for="rate-3" class="fas fa-star mr-2 mt-1"></label>
              <input class="mx-1 mt-2" type="radio" name="rate" id="rate-4" />
              <label for="rate-4" class="fas fa-star mr-2 mt-1"></label>
              <input class="mx-1 mt-2" type="radio" name="rate" id="rate-5" />
              <label for="rate-5" class="fas fa-star mr-2 mt-1"></label>
            </div>
          </div>
          <p class="discount_title text-danger"><b>500000 đ</b></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="child-1 col-12 col-md col-sm col-lg col-xl">
      <div class="card">
        <img class="card-img-top px-2" src="../image/home/card/img_card_01.png" alt="Card image cap" />
        <div class="middle">
          <div class="text_middle d-flex">
            <input class="icon_heart mx-1 mt-2" type="radio" name="icon_heart" id="icon_heart" />
            <label for="icon_heart" class="icon_hover fa-2x fas fa-heart mr-4"></label>

            <input class="icon_cart mx-1 mt-2" type="radio" name="icon_cart" id="icon_cart" />
            <label for="icon_cart" class="icon_hover fa-2x fas fa-cart-arrow-down"></label>
          </div>
        </div>
        <div class="card-body">
          <h6 class="card-title"><b>Skin care voucher at Hoa Beauty</b></h6>
          <a href="#" class="card-text text-danger">Thu Hoa Store</a>
          <div class="star-widget d-flex">
            <div class="d-flex" style="flex-flow: row-reverse; justify-content: flex-start">
              <input class="mx-1 mt-2" type="radio" name="rate" id="rate-1" />
              <label for="rate-1" class="fas fa-star mr-2 mt-1"></label>
              <input class="mx-1 mt-2" type="radio" name="rate" id="rate-2" />
              <label for="rate-2" class="fas fa-star mr-2 mt-1"></label>
              <input class="mx-1 mt-2" type="radio" name="rate" id="rate-3" />
              <label for="rate-3" class="fas fa-star mr-2 mt-1"></label>
              <input class="mx-1 mt-2" type="radio" name="rate" id="rate-4" />
              <label for="rate-4" class="fas fa-star mr-2 mt-1"></label>
              <input class="mx-1 mt-2" type="radio" name="rate" id="rate-5" />
              <label for="rate-5" class="fas fa-star mr-2 mt-1"></label>
            </div>
          </div>
          <p class="discount_title text-danger"><b>500000 đ</b></p>
        </div>
      </div>
    </div>
    <div class="child-1 col-12 col-md col-sm col-lg col-xl">
      <div class="card">
        <img class="card-img-top px-2" src="../image/home/card/img_card_06.png" alt="Card image cap" />
        <div class="middle">
          <div class="text_middle d-flex">
            <input class="icon_heart mx-1 mt-2" type="radio" name="icon_heart" id="icon_heart" />
            <label for="icon_heart" class="icon_hover fa-2x fas fa-heart mr-4"></label>

            <input class="icon_cart mx-1 mt-2" type="radio" name="icon_cart" id="icon_cart" />
            <label for="icon_cart" class="icon_hover fa-2x fas fa-cart-arrow-down"></label>
          </div>
        </div>
        <div class="card-body">
          <h6 class="card-title"><b>Skin care voucher at Hoa Beauty</b></h6>
          <a href="#" class="card-text text-danger">Thu Hoa Store</a>
          <div class="star-widget d-flex">
            <div class="d-flex" style="flex-flow: row-reverse; justify-content: flex-start">
              <input class="mx-1 mt-2" type="radio" name="rate" id="rate-1" />
              <label for="rate-1" class="fas fa-star mr-2 mt-1"></label>
              <input class="mx-1 mt-2" type="radio" name="rate" id="rate-2" />
              <label for="rate-2" class="fas fa-star mr-2 mt-1"></label>
              <input class="mx-1 mt-2" type="radio" name="rate" id="rate-3" />
              <label for="rate-3" class="fas fa-star mr-2 mt-1"></label>
              <input class="mx-1 mt-2" type="radio" name="rate" id="rate-4" />
              <label for="rate-4" class="fas fa-star mr-2 mt-1"></label>
              <input class="mx-1 mt-2" type="radio" name="rate" id="rate-5" />
              <label for="rate-5" class="fas fa-star mr-2 mt-1"></label>
            </div>
          </div>
          <p class="discount_title text-danger"><b>500000 đ</b></p>
        </div>
      </div>
    </div>
    <div class="child-1 col-12 d-none d-md-none d-sm-none d-lg-block col-lg col-xl">
      <div class="card">
        <img class="card-img-top px-2" src="../image/home/card/img_card_07.png" alt="Card image cap" />
        <div class="middle">
          <div class="text_middle d-flex">
            <input class="icon_heart mx-1 mt-2" type="radio" name="icon_heart" id="icon_heart" />
            <label for="icon_heart" class="icon_hover fa-2x fas fa-heart mr-4"></label>

            <input class="icon_cart mx-1 mt-2" type="radio" name="icon_cart" id="icon_cart" />
            <label for="icon_cart" class="icon_hover fa-2x fas fa-cart-arrow-down"></label>
          </div>
        </div>
        <div class="card-body">
          <h6 class="card-title"><b>Skin care voucher at Hoa Beauty</b></h6>
          <a href="#" class="card-text text-danger">Thu Hoa Store</a>
          <div class="star-widget d-flex">
            <div class="d-flex" style="flex-flow: row-reverse; justify-content: flex-start">
              <input class="mx-1 mt-2" type="radio" name="rate" id="rate-1" />
              <label for="rate-1" class="fas fa-star mr-2 mt-1"></label>
              <input class="mx-1 mt-2" type="radio" name="rate" id="rate-2" />
              <label for="rate-2" class="fas fa-star mr-2 mt-1"></label>
              <input class="mx-1 mt-2" type="radio" name="rate" id="rate-3" />
              <label for="rate-3" class="fas fa-star mr-2 mt-1"></label>
              <input class="mx-1 mt-2" type="radio" name="rate" id="rate-4" />
              <label for="rate-4" class="fas fa-star mr-2 mt-1"></label>
              <input class="mx-1 mt-2" type="radio" name="rate" id="rate-5" />
              <label for="rate-5" class="fas fa-star mr-2 mt-1"></label>
            </div>
          </div>
          <p class="discount_title text-danger"><b>500000 đ</b></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="child-1 col-12 col-md col-sm col-lg col-xl">
      <div class="card">
        <img class="card-img-top px-2" src="../image/home/card/img_card_09.png" alt="Card image cap" />
        <div class="middle">
          <div class="text_middle d-flex">
            <input class="icon_heart mx-1 mt-2" type="radio" name="icon_heart" id="icon_heart" />
            <label for="icon_heart" class="icon_hover fa-2x fas fa-heart mr-4"></label>

            <input class="icon_cart mx-1 mt-2" type="radio" name="icon_cart" id="icon_cart" />
            <label for="icon_cart" class="icon_hover fa-2x fas fa-cart-arrow-down"></label>
          </div>
        </div>
        <div class="card-body">
          <h6 class="card-title"><b>Skin care voucher at Hoa Beauty</b></h6>
          <a href="#" class="card-text text-danger">Thu Hoa Store</a>
          <div class="star-widget d-flex">
            <div class="d-flex" style="flex-flow: row-reverse; justify-content: flex-start">
              <input class="mx-1 mt-2" type="radio" name="rate" id="rate-1" />
              <label for="rate-1" class="fas fa-star mr-2 mt-1"></label>
              <input class="mx-1 mt-2" type="radio" name="rate" id="rate-2" />
              <label for="rate-2" class="fas fa-star mr-2 mt-1"></label>
              <input class="mx-1 mt-2" type="radio" name="rate" id="rate-3" />
              <label for="rate-3" class="fas fa-star mr-2 mt-1"></label>
              <input class="mx-1 mt-2" type="radio" name="rate" id="rate-4" />
              <label for="rate-4" class="fas fa-star mr-2 mt-1"></label>
              <input class="mx-1 mt-2" type="radio" name="rate" id="rate-5" />
              <label for="rate-5" class="fas fa-star mr-2 mt-1"></label>
            </div>
          </div>
          <p class="discount_title text-danger"><b>500000 đ</b></p>
        </div>
      </div>
    </div>
    <div class="child-1 col-12 col-md col-sm col-lg col-xl">
      <div class="card">
        <img class="card-img-top px-2" src="../image/home/card/img_card_03.png" alt="Card image cap" />
        <div class="middle">
          <div class="text_middle d-flex">
            <input class="icon_heart mx-1 mt-2" type="radio" name="icon_heart" id="icon_heart" />
            <label for="icon_heart" class="icon_hover fa-2x fas fa-heart mr-4"></label>

            <input class="icon_cart mx-1 mt-2" type="radio" name="icon_cart" id="icon_cart" />
            <label for="icon_cart" class="icon_hover fa-2x fas fa-cart-arrow-down"></label>
          </div>
        </div>
        <div class="card-body">
          <h6 class="card-title"><b>Skin care voucher at Hoa Beauty</b></h6>
          <a href="#" class="card-text text-danger">Thu Hoa Store</a>
          <div class="star-widget d-flex">
            <div class="d-flex" style="flex-flow: row-reverse; justify-content: flex-start">
              <input class="mx-1 mt-2" type="radio" name="rate" id="rate-1" />
              <label for="rate-1" class="fas fa-star mr-2 mt-1"></label>
              <input class="mx-1 mt-2" type="radio" name="rate" id="rate-2" />
              <label for="rate-2" class="fas fa-star mr-2 mt-1"></label>
              <input class="mx-1 mt-2" type="radio" name="rate" id="rate-3" />
              <label for="rate-3" class="fas fa-star mr-2 mt-1"></label>
              <input class="mx-1 mt-2" type="radio" name="rate" id="rate-4" />
              <label for="rate-4" class="fas fa-star mr-2 mt-1"></label>
              <input class="mx-1 mt-2" type="radio" name="rate" id="rate-5" />
              <label for="rate-5" class="fas fa-star mr-2 mt-1"></label>
            </div>
          </div>
          <p class="discount_title text-danger"><b>500000 đ</b></p>
        </div>
      </div>
    </div>
    <div class="child-1 col-12 d-none d-md-none d-sm-none d-lg-block col-lg col-xl">
      <div class="card">
        <img class="card-img-top px-2" src="../image/home/card/img_card_04.png" alt="Card image cap" />
        <div class="middle">
          <div class="text_middle d-flex">
            <input class="icon_heart mx-1 mt-2" type="radio" name="icon_heart" id="icon_heart" />
            <label for="icon_heart" class="icon_hover fa-2x fas fa-heart mr-4"></label>

            <input class="icon_cart mx-1 mt-2" type="radio" name="icon_cart" id="icon_cart" />
            <label for="icon_cart" class="icon_hover fa-2x fas fa-cart-arrow-down"></label>
          </div>
        </div>
        <div class="card-body">
          <h6 class="card-title"><b>Skin care voucher at Hoa Beauty</b></h6>
          <a href="#" class="card-text text-danger">Thu Hoa Store</a>
          <div class="star-widget d-flex">
            <div class="d-flex" style="flex-flow: row-reverse; justify-content: flex-start">
              <input class="mx-1 mt-2" type="radio" name="rate" id="rate-1" />
              <label for="rate-1" class="fas fa-star mr-2 mt-1"></label>
              <input class="mx-1 mt-2" type="radio" name="rate" id="rate-2" />
              <label for="rate-2" class="fas fa-star mr-2 mt-1"></label>
              <input class="mx-1 mt-2" type="radio" name="rate" id="rate-3" />
              <label for="rate-3" class="fas fa-star mr-2 mt-1"></label>
              <input class="mx-1 mt-2" type="radio" name="rate" id="rate-4" />
              <label for="rate-4" class="fas fa-star mr-2 mt-1"></label>
              <input class="mx-1 mt-2" type="radio" name="rate" id="rate-5" />
              <label for="rate-5" class="fas fa-star mr-2 mt-1"></label>
            </div>
          </div>
          <p class="discount_title text-danger"><b>500000 đ</b></p>
        </div>
      </div>
    </div>
  </div>

  <!-- Pagination // phân trang button -->
  <div class="container pagination d-flex">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">5</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
    </nav>
  </div>
</div>
