<div class="container">
  <div class="row d-flex">
    <!--left-service  -->
    <div class="left-service">
      <p class="text-danger ml-4 mt-3"><strong>DASHBOARD</strong></p>
      <ul class="list-group border-0 w-100 border-0 bg-transparent" id="">
        <li class="list-group-item py-2 border-0 d-flex justify-content-between; align-items-center active">
          <span
            class="iconify ml-2 mr-5"
            data-icon="ant-design:user-outlined"
            data-width="24"
            data-height="24"
            style="font-size: 16px"
          ></span>
          <p style="width: 150px; margin: 15px 100px 15px 0">Profile info</p>
        </li>
        <li class="list-group-item py-2 border-0 d-flex justify-content-between; align-items-center">
          <span
            class="iconify ml-2 mr-5"
            data-icon="ant-design:shopping-cart-outlined"
            data-width="24"
            data-height="24"
            style="font-size: 16px"
          ></span>
          <p style="width: 150px; margin: 15px 100px 15px 0">Orders</p>
          <p style="margin-bottom: 0">12</p>
        </li>
        <li class="list-group-item py-2 border-0 d-flex justify-content-between; align-items-center">
          <span class="iconify ml-2 mr-5" data-icon="carbon:favorite" data-width="24" data-height="24" style="font-size: 16px"></span>
          <p style="width: 150px; margin: 15px 100px 15px 0">Wishlist</p>
          <p style="margin-bottom: 0">12</p>
        </li>
        <li class="list-group-item py-2 border-0 d-flex justify-content-between; align-items-center">
          <span class="iconify ml-2 mr-5" data-icon="bx:bxs-discount" data-width="24" data-height="24"></span>
          <p style="width: 150px; margin: 15px 100px 15px 0">My voucher</p>
          <p style="margin-bottom: 0">12</p>
        </li>
      </ul>
    </div>

    <!-- right_service -->
    <div class="right_service">
      <!-- Title and button -->
      <div class="my-profile">
        <div class="my-profile-heading d-flex">
          <span class="iconify" data-icon="ant-design:user-outlined" data-width="60" data-height="60"></span>
          <h1>My Profile</h1>
        </div>
        <a href="./Editprofile.html">
          <button type="button" class="btn btn-outline-danger">Edit profile</button>
        </a>
      </div>

      <!-- Item 1 -->
      <div class="profile-personal">
        <div class="personal-avt">
          <img src="../image/Userprofile/avatar.jpg" alt="" />
        </div>
        <div class="personal-information">
          <b class="personal-name"> Nguyen Thi Thu Thuy </b>
          <p class="personal-adress">48 - Cao Thang</p>
          <p class="personal-email">thuthuyxh1311@gmail.com</p>
        </div>
      </div>
      <!-- Item 2 -->
      <div class="profile-personal-name">
        <div class="personal-name-tilte">
          <p>First name</p>
          <p>Last name</p>
          <p>Date of birth</p>
          <p>Phone number</p>
        </div>
        <div class="personal-name-item">
          <p>Nguyen Thi</p>
          <p>Thu Thuy</p>
          <p>16/01/2001</p>
          <p>0382319028</p>
        </div>
      </div>
      <!-- Item 3  -->
      <div class="profile-personal-adress">
        <div class="personal-adress-tilte">
          <p>Adress</p>
        </div>
        <div class="personal-adress-item">
          <p>48 - Cao Thang- Hai Chau - Da Nang</p>
        </div>
      </div>
    </div>
  </div>
</div>
