<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-store-user-heading" data-cy="StoreUserCreateUpdateHeading">Create or edit a Store User</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_type">Type</label>
          <select class="form-control" id="field_type" data-cy="type" name="type" formControlName="type">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                relationshipTypeOption.id === editForm.get('type')!.value?.id ? editForm.get('type')!.value : relationshipTypeOption
              "
              *ngFor="let relationshipTypeOption of relationshipTypesSharedCollection; trackBy: trackRelationshipTypeById"
            >
              {{ relationshipTypeOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_user">User</label>
          <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="myUserOption.id === editForm.get('user')!.value?.id ? editForm.get('user')!.value : myUserOption"
              *ngFor="let myUserOption of myUsersSharedCollection; trackBy: trackMyUserById"
            >
              {{ myUserOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_store">Store</label>
          <select class="form-control" id="field_store" data-cy="store" name="store" formControlName="store">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="storeOption.id === editForm.get('store')!.value?.id ? editForm.get('store')!.value : storeOption"
              *ngFor="let storeOption of storesSharedCollection; trackBy: trackStoreById"
            >
              {{ storeOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
