* {
  font-family: 'Varela Round', sans-serif;
  margin: O auto;
}

body {
  background: #ebf2f5;
}

/* Part 2: Main */
.main-home {
  margin-top: 10px;
}
/* Part 2.1: Search filter */
// .main-home .search_filter {
//     font-size: 13px;
//     background-color: rgb(255, 255, 255);
//     border-radius: 5px;
//     padding-top: 20px;
//     padding-bottom: 10px;
//     box-shadow: rgb(182, 178, 174, 0.2) 1px 1px;
//     justify-content: space-between;
// }
.main-body {
  font-size: 15px;
}

/* Part 2.2.1: Service-left */
.service_left {
  width: 250px;
  height: 1100px;
  padding-right: 10px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
}

/* Part 2.2.1: Responsive Service-left */
@media only screen and (max-width: 1024px) {
  .service_left {
    display: none;
  }
}

/* Part 2.2.2: Card-product-right */
// .card_product_right {
//     margin: 0 auto;
//     font-size: 13px;
// }
// /* set css for col card */
// .card_product_right .child-1 {
//     width: 250px;
//     height: 340px;
//     margin-left: 10px;
//     margin-right: 10px;
//     margin-bottom: 10px;
//     border-radius: 5px;
// }
// /* css for card */
// .card_product_right .child-1 .card {
//     width: 100%;
//     height: 100%;
//     padding-top: 10px;
//     border-radius: 10px;
//     box-shadow: rgb(182, 178, 174, 0.2) 1px 1px;
// }
// /* css for card body */
// .card_product_right .card-body {
//     position: relative;
//     top: -15px;
// }

// .card_product_right .card-body a {
//     position: relative;
//     top: -10px;
// }

// .card_product_right .card-body .star-widget {
//     position: relative;
//     top: -5px;
// }

// /* card */
// .card_product_right .star-widget input {
//     display: none;
// }

// .card_product_right .card .card-body label {
//     transition: all 0.2s ease;
// }

// .card_product_right .card .card-body input:not(:checked) ~ label:hover,
// .card_product_right .card .card-body input:not(:checked) ~ label:hover ~ label {
//     color: #fd4;
// }
// .card_product_right .card .card-body input:checked ~ label {
//     color: #fd4;
// }

// .card_product_right .card img {
//     object-fit: cover;
//     width: 100%;
//     height: 60%;
//     border-radius: 10%;
//     opacity: 1;
//     transition: 0.5s ease;
//     backface-visibility: hidden;
//     display: block;
// }

// .middle {
//     transition: 0.5s ease;
//     opacity: 0;
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     -ms-transform: translate(-50%, -50%);
//     text-align: center;
// }

// .card:hover img {
//     opacity: 0.6;
// }

// .card:hover .middle {
//     opacity: 1;
//     margin-top: -55px;
// }

// .text_middle {
//     background-color: #f8f8f8;
//     color: #474141;
//     font-size: 10px;
//     padding-top: 20px;
//     padding-bottom: 5px;
//     padding-left: 25px;
//     padding-right: 25px;
//     border-radius: 35px;
// }

// .middle .text_middle input {
//     display: none;
// }
// .middle .text_middle input:not(:checked) ~ label:hover {
//     color: #e94560;
// }

// /*Pagination // phân trang button  */
// .container.pagination.d-flex {
//     justify-content: center;
//     margin-top: 23px;
//     font-size: 15px;
// }

// .container.pagination .pagination li a {
//     color: #e56773;
// }

// /* hover */
// .container.pagination .pagination li:nth-of-type(2) a {
//     background-color: #e94560;
//     color: #ffff;
// }
// /* responsive card_voucher */
// @media only screen and (max-width: 599px) {
//     .card_product_right .child-1 {
//         margin: 10px auto;
//     }
// }
