<div class="main">
  <!-- Part 2: category + slide -->
  <div class="container-fluid category-slide"></div>

  <!-- Part 3: Hot voucher -->
  <div class="container-fluid hot_voucher">
    <jhi-hot-voucher></jhi-hot-voucher>
  </div>

  <!-- Part 4-5-6: Thu Thuy ---- Top Ratings +  Category + Footer-->
  <div class="contaier-fluid top_ratings">
    <!-- Part 4.1: title store ratings -->
    <div class="container title_topratings_voucher d-flex mb-1">
      <span class="iconify mt-2 ml-2" data-icon="fluent:globe-star-16-filled" style="color: #ffba57; font-size: 38px"></span>
      <h4 class="pt-3 pl-4"><b>Top ratings</b></h4>
    </div>

    <!-- Part 4.1: store ratings -->
    <div class="container">
      <div class="toprating-list-row mb-0"></div>
    </div>
  </div>
  <!-- Part 4.2: title Category -->
  <jhi-top-category></jhi-top-category>
</div>
