<div class="main">
  <!-- Part 2: category + slide -->
  <!-- <div class="container-fluid category-slide">
        <div class="row"> -->
  <!-- <jhi-custom-service></jhi-custom-service> -->
  <jhi-slide class="col-lg-9"></jhi-slide>
  <!-- </div>
    </div> -->

  <!-- Part 3: Hot voucher -->
  <div class="container-fluid hot_voucher">
    <jhi-hot-voucher></jhi-hot-voucher>
  </div>

  <!-- Part 4-5-6: Thu Thuy ---- Top Ratings +  Category + Footer-->
  <div class="contaier-fluid top_ratings">
    <!-- Part 4.1: top stores-->
    <jhi-top-store></jhi-top-store>
  </div>
  <!-- Part 4.2: title Category -->
  <jhi-top-category></jhi-top-category>
</div>
