<div class="container-fluid category-slide">
  <div class="row">
    <div class="col-lg-3 col-xl-3 d-sm-none d-xs-none d-none d-md-none d-lg-block px-0">
      <ul class="list-group border-0">
        <li class="list-group-item py-2">
          <span class="iconify ml-2 mr-5" data-icon="akar-icons:shopping-bag" style="font-size: 25px"></span>Fashion
        </li>
        <li class="list-group-item py-2"><span class="iconify ml-2 mr-5" data-icon="dashicons:food" style="font-size: 25px"></span>Food</li>
        <li class="list-group-item py-2"><span class="iconify ml-2 mr-5" data-icon="ion:fitness" style="font-size: 27px"></span>Fitness</li>
        <li class="list-group-item py-2">
          <span class="iconify ml-2 mr-5" data-icon="fa-solid:gifts" style="font-size: 23px"></span>Gifts
        </li>
        <li class="list-group-item py-2">
          <span class="iconify ml-2 mr-5" data-icon="simple-icons:yourtraveldottv" style="font-size: 25px"></span>Travel
        </li>
        <li class="list-group-item py-2">
          <span class="iconify ml-2 mr-5" data-icon="clarity:car-solid" style="font-size: 25px"></span>Bike
        </li>
        <li class="list-group-item py-2">
          <span class="iconify ml-2 mr-5" data-icon="fa-solid:headphones" style="font-size: 25px"></span>Technological
        </li>
        <li class="list-group-item py-2">
          <span class="iconify ml-2 mr-5" data-icon="bx:bxs-baby-carriage" style="font-size: 25px"></span>Baby
        </li>
      </ul>
    </div>

    <div class="col-lg-9">
      <ngb-carousel *ngIf="images">
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="../../../../../content/images/imgVoucher01.png" alt="Random first slide" height="347" width="1200" />
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="../../../../../content/images/imgVoucher02.png" alt="Random second slide" height="347" width="1200" />
          </div>
          <div class="carousel-caption">
            <!-- <h3>Second slide label</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="../../../../../content/images/imgVoucher04.png" alt="Random third slide" height="347" width="1200" />
          </div>
          <div class="carousel-caption"></div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>
</div>
