<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="event">
      <h2 data-cy="eventDetailsHeading"><span>Event</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ event.id }}</span>
        </dd>
        <dt><span>Title</span></dt>
        <dd>
          <span>{{ event.title }}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
          <span>{{ event.description }}</span>
        </dd>
        <dt><span>Store</span></dt>
        <dd>
          <div *ngIf="event.store">
            <a [routerLink]="['/store', event.store?.id, 'view']">{{ event.store?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/event', event.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
