<div class="main-body">
  <div class="container">
    <!-- Title -->
    <p class="text-danger" style="font-size: 20px"><b>All Stores</b></p>
    <!-- Part 2.1: row 1 - card shop -->
    <div class="row card_profile_shop">
      <div *ngFor="let store of stores" class="col-12 col-md-6 col-lg-4 col-xl-4 card_shop mt-3">
        <div class="card bg-white border-0">
          <img class="card-img" [src]="store.background" alt="Card image" />
          <div class="background_img_overlay"></div>
          <div class="card-img-overlay text-white">
            <div class="card-title">
              <h5 class="mb-0">
                <b>{{ store.name }}</b>
              </h5>
            </div>
            <div class="star">
              <span class="iconify" data-icon="ant-design:star-filled" style="color: #fb0; font-size: 20px"></span>
              <span class="iconify" data-icon="ant-design:star-filled" style="color: #fb0; font-size: 20px"></span>
              <span class="iconify" data-icon="ant-design:star-filled" style="color: #fb0; font-size: 20px"></span>
              <span class="iconify" data-icon="ant-design:star-filled" style="color: #fb0; font-size: 20px"></span>
              <span class="iconify" data-icon="ant-design:star-filled" style="color: #fb0; font-size: 20px"></span>
            </div>
            <div class="address">
              <span class="iconify" data-icon="ic:baseline-place" style="font-size: 20px"></span>
              <span
                >{{ store.address?.number }} {{ store.address?.street }}, {{ store.address?.village?.name }}-
                {{ store.address?.village?.district?.name }}-{{ store.address?.village?.district?.province?.name }}</span
              >
            </div>
            <div class="phone">
              <span class="iconify" data-icon="carbon:phone-voice-filled" style="font-size: 20px"></span>
              <span>+(84) {{ store.phone | slice: 1:4 }} {{ store.phone | slice: 4:7 }} {{ store.phone | slice: 7:10 }}</span>
            </div>
          </div>
          <div class="card-footer">
            <div class="img-avt rounded-circle">
              <img [src]="store.avartar" alt="" />
            </div>
            <span class="iconify btn btn_next" data-icon="bi:arrow-right" style="font-size: 60px; color: rgb(48, 53, 52)"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
