.main-body {
    position: relative;
    top: 20px;
}

/* Part 2.1 */
.main-body .card_profile_shop .col-12.card_shop .card {
    box-shadow: rgba(108, 112, 116, 0.2) 0px 8px 24px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 100%;
    padding-right: 0px;
    margin: 0;
}

.main-body .card_profile_shop .col-12.card_shop .card:hover {
    transform: scale(1.03);
    transition: all 0.8s;
}

.main-body .card_profile_shop .col-12.card_shop .card .background_img_overlay {
    position: absolute;
    width: 100%;
    height: 200px;
    background-color: #01041380;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.main-body .card_profile_shop .col-12.card_shop .card-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    opacity: 1;
    filter: hue-rotate(200deg);
    filter: saturate(2);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.main-body .card_profile_shop .col-12.card_shop .card-footer .img-avt {
    width: 60px;
    height: 60px;
    background: #ebf2f5;
    overflow: hidden;
    position: relative;
    top: -45px;
    left: 5%;
    border: 5px white solid;
}

.main-body .card_profile_shop .col-12.card_shop .card-footer {
    height: 50px;
}
.main-body .card_profile_shop .col-12.card_shop .card-footer .img-avt img {
    object-fit: cover;
    width: 50px;
    height: 50px;
}
.main-body .card_profile_shop .col-12.card_shop .card-footer .btn_next {
    position: relative;
    top: -80px;
    right: -78%;
}

/* Part 2.1: style text for card-img-overlay*/
.main-body .card_profile_shop .col-12.card_shop .card-img-overlay span {
    font-size: 14px;
}
