<!-- Part 2.1: voucher-cart  -->
<div class="voucher-cart">
    <table class="w-100" id="table-voucher-cart">
        <tr>
            <th id="voucher">
                <label class="checkbox mx-2">
                    <input class="mr-3" type="checkbox" id="checkbox_address_DaNang" name="horns" />
                    <i class="mr-3 icon-checkbox"></i> Voucher
                </label>
            </th>
            <th id="quantity">Quantity</th>
            <th id="price">&emsp;Price</th>
        </tr>
        <!-- row1 -->
        <tr>
            <td class="voucher">
                <label class="checkbox mx-2">
                    <input class="" type="checkbox" id="checkbox_address_DaNang" name="horns" />
                    <i class="icon-checkbox"></i>
                </label>

                <div class="img-voucher-description">
                    <img src="../image/home/card/img_card_01.png" alt="" />
                    <p style="font-size: 13px; margin: 0px 10px">Sản phẩm skin care</p>
                </div>
            </td>
            <td class="quantity mt-2">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-danger" type="button">
                            <span id="icon-minus" class="iconify" data-icon="entypo:minus"></span>
                        </button>
                    </div>
                    <input
                        id="input-quantity"
                        type="text"
                        class="form-control input"
                        placeholder="10"
                        aria-label=""
                        aria-describedby="basic-addon1"
                        style="font-size: 13px"
                    />
                    <div class="input-group-append">
                        <button class="btn btn-outline-danger" type="button">
                            <span id="icon-plus" class="iconify" data-icon="entypo:plus"></span>
                        </button>
                    </div>
                </div>
            </td>
            <td class="price">
                <div style="font-size: 13px; width: 100%; display: flex">
                    <span class="col-10 mt-2" style="font-size: 13px">500.000.000 vnd</span>
                    <button class="col-2 border-0 bg-transparent px-0" style="font-size: 15px; width: 20px; position: relative; right: 0px">
                        <span class="iconify" data-icon="iwwa:delete"></span>
                    </button>
                </div>
            </td>
        </tr>

        <!-- row1 -->
        <tr>
            <td class="voucher">
                <label class="checkbox mx-2">
                    <input class="" type="checkbox" id="checkbox_address_DaNang" name="horns" />
                    <i class="icon-checkbox"></i>
                </label>

                <div class="img-voucher-description">
                    <img src="../image/home/card/img_card_01.png" alt="" />
                    <p style="font-size: 13px; margin: 0px 10px">Sản phẩm skin care</p>
                </div>
            </td>
            <td class="quantity mt-2">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-danger" type="button">
                            <span id="icon-minus" class="iconify" data-icon="entypo:minus"></span>
                        </button>
                    </div>
                    <input
                        id="input-quantity"
                        type="text"
                        class="form-control input"
                        placeholder="10"
                        aria-label=""
                        aria-describedby="basic-addon1"
                        style="font-size: 13px"
                    />
                    <div class="input-group-append">
                        <button class="btn btn-outline-danger" type="button">
                            <span id="icon-plus" class="iconify" data-icon="entypo:plus"></span>
                        </button>
                    </div>
                </div>
            </td>
            <td class="price">
                <div style="font-size: 13px; width: 100%; display: flex">
                    <span class="col-10 mt-2" style="font-size: 13px">500.000.000 vnd</span>
                    <button class="col-2 border-0 bg-transparent px-0" style="font-size: 15px; width: 20px; position: relative; right: 0px">
                        <span class="iconify" data-icon="iwwa:delete"></span>
                    </button>
                </div>
            </td>
        </tr>

        <!-- row1 -->
        <tr>
            <td class="voucher">
                <label class="checkbox mx-2">
                    <input class="" type="checkbox" id="checkbox_address_DaNang" name="horns" />
                    <i class="icon-checkbox"></i>
                </label>

                <div class="img-voucher-description">
                    <img src="../image/home/card/img_card_01.png" alt="" />
                    <p style="font-size: 13px; margin: 0px 10px">Sản phẩm skin care</p>
                </div>
            </td>
            <td class="quantity mt-2">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-danger" type="button">
                            <span id="icon-minus" class="iconify" data-icon="entypo:minus"></span>
                        </button>
                    </div>
                    <input
                        id="input-quantity"
                        type="text"
                        class="form-control input"
                        placeholder="10"
                        aria-label=""
                        aria-describedby="basic-addon1"
                        style="font-size: 13px"
                    />
                    <div class="input-group-append">
                        <button class="btn btn-outline-danger" type="button">
                            <span id="icon-plus" class="iconify" data-icon="entypo:plus"></span>
                        </button>
                    </div>
                </div>
            </td>
            <td class="price">
                <div style="font-size: 13px; width: 100%; display: flex">
                    <span class="col-10 mt-2" style="font-size: 13px">500.000.000 vnd</span>
                    <button class="col-2 border-0 bg-transparent px-0" style="font-size: 15px; width: 20px; position: relative; right: 0px">
                        <span class="iconify" data-icon="iwwa:delete"></span>
                    </button>
                </div>
            </td>
        </tr>

        <!-- row1 -->
        <tr>
            <td class="voucher">
                <label class="checkbox mx-2">
                    <input class="" type="checkbox" id="checkbox_address_DaNang" name="horns" />
                    <i class="icon-checkbox"></i>
                </label>

                <div class="img-voucher-description">
                    <img src="../image/home/card/img_card_01.png" alt="" />
                    <p style="font-size: 13px; margin: 0px 10px">Sản phẩm skin care</p>
                </div>
            </td>
            <td class="quantity mt-2">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-danger" type="button">
                            <span id="icon-minus" class="iconify" data-icon="entypo:minus"></span>
                        </button>
                    </div>
                    <input
                        id="input-quantity"
                        type="text"
                        class="form-control input"
                        placeholder="10"
                        aria-label=""
                        aria-describedby="basic-addon1"
                        style="font-size: 13px"
                    />
                    <div class="input-group-append">
                        <button class="btn btn-outline-danger" type="button">
                            <span id="icon-plus" class="iconify" data-icon="entypo:plus"></span>
                        </button>
                    </div>
                </div>
            </td>
            <td class="price">
                <div style="font-size: 13px; width: 100%; display: flex">
                    <span class="col-10 mt-2" style="font-size: 13px">500.000.000 vnd</span>
                    <button class="col-2 border-0 bg-transparent px-0" style="font-size: 15px; width: 20px; position: relative; right: 0px">
                        <span class="iconify" data-icon="iwwa:delete"></span>
                    </button>
                </div>
            </td>
        </tr>

        <!-- row1 -->
        <tr>
            <td class="voucher">
                <label class="checkbox mx-2">
                    <input class="" type="checkbox" id="checkbox_address_DaNang" name="horns" />
                    <i class="icon-checkbox"></i>
                </label>

                <div class="img-voucher-description">
                    <img src="../image/home/card/img_card_01.png" alt="" />
                    <p style="font-size: 13px; margin: 0px 10px">Sản phẩm skin care</p>
                </div>
            </td>
            <td class="quantity mt-2">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-danger" type="button">
                            <span id="icon-minus" class="iconify" data-icon="entypo:minus"></span>
                        </button>
                    </div>
                    <input
                        id="input-quantity"
                        type="text"
                        class="form-control input"
                        placeholder="10"
                        aria-label=""
                        aria-describedby="basic-addon1"
                        style="font-size: 13px"
                    />
                    <div class="input-group-append">
                        <button class="btn btn-outline-danger" type="button">
                            <span id="icon-plus" class="iconify" data-icon="entypo:plus"></span>
                        </button>
                    </div>
                </div>
            </td>
            <td class="price">
                <div style="font-size: 13px; width: 100%; display: flex">
                    <span class="col-10 mt-2" style="font-size: 13px">500.000.000 vnd</span>
                    <button class="col-2 border-0 bg-transparent px-0" style="font-size: 15px; width: 20px; position: relative; right: 0px">
                        <span class="iconify" data-icon="iwwa:delete"></span>
                    </button>
                </div>
            </td>
        </tr>
    </table>
</div>
