.search_filter {
  font-size: 13px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 10px;
  box-shadow: rgb(182, 178, 174, 0.2) 1px 1px;
  justify-content: space-between;
}
