<!-- Part 2.1: Search filter -->
<div class="container search_filter d-flex">
  <div class="title d-none d-sm-block">
    <strong>Searching for “voucher fashion”</strong>
    <p class="m-0">30 result</p>
  </div>
  <div class="combobox_filter d-flex">
    <span class="mt-2 mr-3">Sort by:</span>
    <div class="form-group">
      <select class="form-control" id="exampleFormControlSelect1" style="width: 200px">
        <option>Sort</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
  </div>
</div>
