<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>all-shop</title>
    <!-- link css bootstrap -->
    <!-- link font family -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet" />
  </head>

  <body>
    <jhi-all-store [stores]="stores"></jhi-all-store>
    <!-- <h1>Hello</h1> -->
    <jhi-our-pagination [pagination]="pagination" (pageChanged)="pageChangedHandler($event)"></jhi-our-pagination>
  </body>
</html>
