/*Pagination // phân trang button  */
.container.pagination.d-flex {
  justify-content: center;
  margin-top: 23px;
  font-size: 15px;
}

.container.pagination .pagination li a {
  color: #e56773;
}

/* hover */
.container.pagination .pagination li:nth-of-type(2) a {
  background-color: #e94560;
  color: #ffff;
}
/* responsive card_voucher */
@media only screen and (max-width: 599px) {
  .card_product_right .child-1 {
    margin: 10px auto;
  }
}
