<div class="discount">
    <h4 class="mx-2 my-2" style="font-size: 17px"><b>Discount</b></h4>

    <div style="width: 100%; border-top: 0.7px rgb(172, 172, 172) solid"></div>

    <p class="mx-2 my-4">Enter price code if you have</p>

    <input
        type="text"
        class="form-control mx-2"
        placeholder="Enter the code here..."
        aria-label="Username"
        aria-describedby="basic-addon1"
        style="font-size: 15px; width: 95%"
    />
    <button type="button" class="btn btn-danger w-100 mt-4" style="font-size: 13px">Apply</button>
</div>
