.discount {
    position: relative;
    top: 30px;
    width: 90%;
    height: 250px;
    background-color: #ffffff;
    padding: 20px;
    margin: 0px 25px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.discount input {
    height: 40px;
    border-radius: 5px #fff solid;
}
