<!-- Part 2: body-main -->
<div class="container path title mt-3">
    <p>
        <a href="#"><b class="text-danger">Home</b></a> / Cart
    </p>
</div>

<div class="container body-main">
    <!-- Part 2.1: voucher-cart  -->
    <jhi-voucher-list class="m-0" (outputCheckItem)="isChangeCheckitem($event)" [CartVoucher]="cartItem"> </jhi-voucher-list>

    <!-- Part 2.2: total-cart  -->
    <div class="total-cart">
        <!-- Checkout -->
        <jhi-checkout [checkoutIsCheckitem]="isCheckitem"></jhi-checkout>

        <!-- discount -->
        <jhi-discount></jhi-discount>
    </div>
</div>
