<!-- Part 4.2: title Category -->
<div class="container category">
  <div class="container title_topratings_voucher d-flex mb-1">
    <span class="iconify mt-2" data-icon="bx:bxs-category" style="color: #e34; font-size: 38px"></span>
    <h4 class="pt-3 pl-4"><b>Top Category</b></h4>
  </div>
</div>
<!-- Part 4.2: Category -->
<div class="container category-list">
  <div class="row category-list-row mx-0">
    <div *ngFor="let category of categories; trackBy: trackId" class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 category-list-col">
      <div class="catetory_shared">
        <img src="../../../../content/images/landingpage/category/{{ category.name }}.png" alt="" class="category_img" />
        <a href="" class="category_item">
          <p class="category_name">{{ category.name }}</p>
        </a>
      </div>
    </div>
  </div>
</div>
