<!-- Part 2:  -->
<div class="container login">
  <div class="row login-content p-0 m-0">
    <div class="col-xl-6 col-lg-6 col-md-4 col-sm-12 login-content-itemone">
      <div class="login-content-item-introduce">
        <h3 class="content-item-heading">Hãy đến với chúng tôi</h3>
        <p class="content-item-introduce">Quản lý shop một cách hiệu quả trên My Voucher</p>
        <p class="content-item-introduce">Tăng năng suất bán hàng của cửa hàng bạn</p>
        <div class="content-img-introduce">
          <img src="../../../content/images/Login/background.png" alt="nền" class="img-introduce" />
        </div>
      </div>
    </div>
    <form [formGroup]="inforUserSignup" (ngSubmit)="register()" class="col-xl-6 col-lg-6 col-md-8 col-sm-12 login-content-itemtwo">
      <h3 class="content-heading-signin">Sign in</h3>
      <div class="form-user">
        <input type="text" placeholder="User Name" name="name" required id="" class="form-control" formControlName="username" />
      </div>
      <div class="row form-haft">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 form-pass">
          <input
            type="password"
            placeholder="Password"
            name="Password"
            required
            id=""
            class="form-control"
            formControlName="password"
            (input)="onCheckPassword()"
          />
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 form-pass1">
          <input
            (input)="onCheckPassword()"
            type="password"
            placeholder="Repeat Password"
            name="Password"
            required
            id=""
            class="form-control"
            formControlName="confirmPassword"
          />
        </div>
      </div>
      <div class="form-email">
        <input type="email" placeholder="Email" name="email" required id="" class="form-control" formControlName="email" />
      </div>
      <div class="form-address">
        <input type="text" placeholder="Address" name="name" required id="" class="form-control" />
      </div>
      <div class="row form-haft">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 form-phone">
          <input type="text" placeholder="Phone" name="name" required id="" class="form-control" formControlName="phone" />
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 form-date">
          <input type="date" placeholder="Date of birth" name="name" required id="" class="form-control" formControlName="ngaysinh" />
        </div>
      </div>

      <div class="btn-signin">
        <button [disabled]="!inforUserSignup.valid || !MatchPassword" class="btn btn-danger btn-signin-item">SIGN IN</button>
      </div>
    </form>
  </div>
</div>
