<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="order">
      <h2 data-cy="orderDetailsHeading"><span>Order</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ order.id }}</span>
        </dd>
        <dt><span>Total Cost</span></dt>
        <dd>
          <span>{{ order.totalCost }}</span>
        </dd>
        <dt><span>Payment Time</span></dt>
        <dd>
          <span>{{ order.paymentTime | formatMediumDatetime }}</span>
        </dd>
        <dt><span>User</span></dt>
        <dd>
          <div *ngIf="order.user">
            <a [routerLink]="['/my-user', order.user?.id, 'view']">{{ order.user?.id }}</a>
          </div>
        </dd>
        <dt><span>Status</span></dt>
        <dd>
          <div *ngIf="order.status">
            <a [routerLink]="['/order-status', order.status?.id, 'view']">{{ order.status?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/order', order.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
