<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="voucherCode">
      <h2 data-cy="voucherCodeDetailsHeading"><span>Voucher Code</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ voucherCode.id }}</span>
        </dd>
        <dt><span>Code</span></dt>
        <dd>
          <span>{{ voucherCode.code }}</span>
        </dd>
        <dt><span>Voucher</span></dt>
        <dd>
          <div *ngIf="voucherCode.voucher">
            <a [routerLink]="['/voucher', voucherCode.voucher?.id, 'view']">{{ voucherCode.voucher?.id }}</a>
          </div>
        </dd>
        <dt><span>Order</span></dt>
        <dd>
          <div *ngIf="voucherCode.order">
            <a [routerLink]="['/order', voucherCode.order?.id, 'view']">{{ voucherCode.order?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/voucher-code', voucherCode.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
