<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="myUser">
      <h2 data-cy="myUserDetailsHeading"><span>My User</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ myUser.id }}</span>
        </dd>
        <dt><span>Username</span></dt>
        <dd>
          <span>{{ myUser.username }}</span>
        </dd>
        <dt><span>Password</span></dt>
        <dd>
          <span>{{ myUser.password }}</span>
        </dd>
        <dt><span>First Name</span></dt>
        <dd>
          <span>{{ myUser.firstName }}</span>
        </dd>
        <dt><span>Last Name</span></dt>
        <dd>
          <span>{{ myUser.lastName }}</span>
        </dd>
        <dt><span>Gender</span></dt>
        <dd>
          <span>{{ myUser.gender }}</span>
        </dd>
        <dt><span>Phone</span></dt>
        <dd>
          <span>{{ myUser.phone }}</span>
        </dd>
        <dt><span>Email</span></dt>
        <dd>
          <span>{{ myUser.email }}</span>
        </dd>
        <dt><span>Address</span></dt>
        <dd>
          <div *ngIf="myUser.address">
            <a [routerLink]="['/address', myUser.address?.id, 'view']">{{ myUser.address?.id }}</a>
          </div>
        </dd>
        <dt><span>Role</span></dt>
        <dd>
          <div *ngIf="myUser.role">
            <a [routerLink]="['/role', myUser.role?.id, 'view']">{{ myUser.role?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/my-user', myUser.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
