<div class="right_service">
  <div class="my-profile">
    <div class="my-profile-heading d-flex">
      <span class="iconify" data-icon="bx:bxs-discount" data-width="60" data-height="60"></span>
      <h1>My voucher</h1>
    </div>
  </div>

  <!-- item -->
  <div class="row my-voucher-item">
    <div class="col-lg-2 voucher-item-img p-0">
      <img src="../image/Myvoucher/qrcode1.png" alt="" />
    </div>
    <div class="col-lg-10 voucher-item-content">
      <div class="row voucher-name">
        <b>Skin care voucher at ThuThuy Store</b>
      </div>
      <div class="row voucher-detail">
        <div class="col-lg-10 voucher-detail-col p-0 mt-2">
          <div class="item-content-tilte">
            <p>Shop name</p>
            <p>Date of payment</p>
            <p>Code voucher</p>
            <p>Price</p>
          </div>
          <div class="item-content-item">
            <a href="" style="color: #df2f4c"><p style="width: 100%">ThuThuyStore</p></a>
            <p>19/12/2021</p>
            <p>JPS12</p>
            <p>50000 đ</p>
          </div>
        </div>
        <div class="col-lg-2 item-content-remove p-0">
          <span class="iconify" data-icon="fluent:delete-20-regular" data-width="30" data-height="30"></span>
          <p style="color: #df2f4c">Available</p>
        </div>
      </div>
    </div>
  </div>
  <!-- item -->
</div>
