<div class="container-fluid pay-voucher">
    <table id="pay-voucher">
        <tr class="d-none">
            <th id="title-payvoucher" class="border-0"></th>
            <th id="input-voucher" class="border-0"></th>
        </tr>

        <tr id="title-chooseAll">
            <td colspan="2" class="pt-4">
                <span class="">Checkout</span>
            </td>
        </tr>

        <tr>
            <td>SubTotal :</td>
            <td>{{ total | currency: 'VND':'symbol':'1.0-0':'vi-VN' }}</td>
        </tr>

        <tr>
            <td>Tax :</td>
            <td>0 đ</td>
        </tr>

        <tr>
            <td>Discount :</td>
            <td>0 đ</td>
        </tr>

        <tr style="border-top: 0.7px rgb(172, 172, 172) solid">
            <td style="border-top: 0.7px rgb(172, 172, 172) solid">Total :</td>
            <td>{{ total | currency: 'VND':'symbol':'1.0-0':'vi-VN' }}</td>
        </tr>
    </table>
    <button type="button" class="btn btn-danger w-100 mt-2" style="font-size: 13px">Pay voucher</button>
</div>
