<div class="contaier-fluid top_ratings">
  <!-- Part 4.1: title store ratings -->
  <div class="container title_topratings_voucher d-flex mb-1">
    <span class="iconify mt-2 ml-2" data-icon="fluent:globe-star-16-filled" style="color: #ffba57; font-size: 38px"></span>
    <h4 class="pt-3 pl-4"><b>Top stores</b></h4>
  </div>

  <div class="container">
    <div class="toprating-list-row mb-0">
      <div class="toprating-list-col" *ngFor="let store of stores; trackBy: trackId">
        <img [src]="store.background" alt="" class="toprating-image" />
        <div class="info_store d-flex">
          <img [src]="store.avartar" alt="" class="avarta_store rounded-circle" width="60px" height="60px" />
          <div class="deltail_infor">
            <a href="">
              <h6 class="store_name">{{ store.name }}</h6>
            </a>
            <div class="d-flex mb-2">
              <span class="iconify" data-icon="emojione:star"></span>
              <span class="iconify" data-icon="emojione:star"></span>
              <span class="iconify" data-icon="emojione:star"></span>
              <span class="iconify" data-icon="emojione:star"></span>
              <span class="iconify" data-icon="emojione:star"></span>
            </div>
            <span>
              <span class="iconify mr-2" data-icon="carbon:location-heart-filled" style="color: #df2f4c"> </span
              >{{ store.address?.number }} {{ store.address?.street }}</span
            >
            <span> <span class="iconify mr-2" data-icon="bx:bxs-phone" style="color: #df2f4c"> </span>{{ store.phone }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
