/* Part 4.1: top rating --- Thu Thuy*/
.toprating-list-row {
  display: flex;
  margin: 20px 0px 20px 15px;
  height: 150px;
  overflow-x: auto;
}
.toprating-list-row::-webkit-scrollbar {
  width: 0;
}

.toprating-list-row img {
  object-fit: cover;
}
.toprating-list-col {
  margin-bottom: 20px;
  margin-right: 20px;
  height: 130px;
  min-width: 350px;
  background-color: white;
  border-radius: 10px;
}
.toprating-image {
  object-fit: fill;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 50%;
}

.toprating-list-col .store_name {
  background-color: #df2f4c;
  color: white;
  border-radius: 5px;
  padding: 10px;
  font-size: 12px;
  margin-bottom: 0;
  width: 100%;
}

.toprating-list-col .store_name:hover {
  color: wheat;
  background-color: #df2f4c;
}
.toprating-list-col .info_store {
  position: relative;
  top: -30px;
  left: 50px;
  width: 100%;
}
.toprating-list-col .info_store .deltail_infor {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  position: relative;
  top: -20px;
}
.deltail_infor a,
.deltail_infor a:hover {
  text-decoration: none;
}
.toprating-list-col .info_store .deltail_infor span {
  font-size: 8px;
  color: #6a6a6a;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media only screen and (max-width: 991px) {
  .toprating-list-col {
    margin-bottom: 20px;
    margin-right: 20px;
    height: 170px;
    min-width: 250px;
    background-color: white;
  }
  .toprating-list-col .info_store .deltail_infor span {
    font-size: 8px;
  }
  .toprating-list-col .info_store {
    position: relative;
    top: -30px;
    left: 30px;
    width: 100%;
  }
}
@media only screen and (max-width: 576px) {
  .toprating-list-col {
    margin-bottom: 20px;
    margin-right: 20px;
    height: 170px;
    min-width: 200px;
    background-color: white;
  }
  .toprating-list-col .info_store .deltail_infor span {
    font-size: 8px;
  }
  .toprating-list-col .info_store {
    position: relative;
    top: -30px;
    left: 30px;
    width: 100%;
  }
  .toprating-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 50%;
  }

  .toprating-list-col .store_name {
    background-color: #df2f4c;
    color: white;
    border-radius: 5px;
    padding: 10px;
    font-size: 8px;
    margin-bottom: 0;
    width: 100%;
  }

  .toprating-list-col .info_store .deltail_infor {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    position: relative;
    top: -20px;
  }
}
