<div class="contaier-fluid top_ratings">
  <!-- Part 4.1: title store ratings -->
  <div class="container title_topratings_voucher d-flex mb-1">
    <span class="iconify mt-2 ml-2" data-icon="fluent:globe-star-16-filled" style="color: #ffba57; font-size: 38px"></span>
    <h4 class="pt-3 pl-4"><b>Top ratings</b></h4>
  </div>

  <div class="container">
    <div class="toprating-list-row mb-0">
      <div class="toprating-list-col">
        <img
          src="https://images.unsplash.com/photo-1441984904996-e0b6ba687e04?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80"
          alt=""
          class="toprating-image"
        />
        <div class="info_store d-flex">
          <img
            src="https://images.unsplash.com/photo-1604426633861-11b2faead63c?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8ZmFjZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60"
            alt=""
            class="avarta_store rounded-circle"
            width="60px"
            height="60px"
          />
          <div class="deltail_infor">
            <a href="">
              <h6 class="store_name">Thu Thủy Store</h6>
            </a>
            <div class="d-flex mb-3">
              <span class="iconify" data-icon="emojione:star"></span>
              <span class="iconify" data-icon="emojione:star"></span>
              <span class="iconify" data-icon="emojione:star"></span>
              <span class="iconify" data-icon="emojione:star"></span>
              <span class="iconify" data-icon="emojione:star"></span>
            </div>
            <span> <span class="iconify mr-2" data-icon="carbon:location-heart-filled" style="color: #df2f4c"> </span>48 Cao Thắng </span>
            <span> <span class="iconify mr-2" data-icon="bx:bxs-phone" style="color: #df2f4c"> </span>0988406374 </span>
          </div>
        </div>
      </div>
      <div class="toprating-list-col">
        <img
          src="https://images.unsplash.com/photo-1477901492169-d59e6428fc90?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fHN0b3JlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60"
          alt=""
          class="toprating-image"
        />
        <div class="info_store d-flex">
          <img
            src="https://images.unsplash.com/photo-1548142813-c348350df52b?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjF8fGZhY2V8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60"
            alt=""
            class="avarta_store rounded-circle"
            width="60px"
            height="60px"
          />
          <div class="deltail_infor">
            <a href="">
              <h6 class="store_name">Thu Thủy Store</h6>
            </a>
            <div class="d-flex mb-3">
              <span class="iconify" data-icon="emojione:star"></span>
              <span class="iconify" data-icon="emojione:star"></span>
              <span class="iconify" data-icon="emojione:star"></span>
              <span class="iconify" data-icon="emojione:star"></span>
              <span class="iconify" data-icon="emojione:star"></span>
            </div>
            <span> <span class="iconify mr-2" data-icon="carbon:location-heart-filled" style="color: #df2f4c"> </span>48 Cao Thắng </span>
            <span> <span class="iconify mr-2" data-icon="bx:bxs-phone" style="color: #df2f4c"> </span>0988406374 </span>
          </div>
        </div>
      </div>
      <div class="toprating-list-col">
        <img
          src="https://images.unsplash.com/photo-1542838132-92c53300491e?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjJ8fHN0b3JlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60"
          alt=""
          class="toprating-image"
        />
        <div class="info_store d-flex">
          <img
            src="https://images.unsplash.com/photo-1612896488082-7271dc0ed30c?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzB8fGZhY2V8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60"
            alt=""
            class="avarta_store rounded-circle"
            width="60px"
            height="60px"
          />
          <div class="deltail_infor">
            <a href="">
              <h6 class="store_name">Thu Thủy Store</h6>
            </a>
            <div class="d-flex mb-3">
              <span class="iconify" data-icon="emojione:star"></span>
              <span class="iconify" data-icon="emojione:star"></span>
              <span class="iconify" data-icon="emojione:star"></span>
              <span class="iconify" data-icon="emojione:star"></span>
              <span class="iconify" data-icon="emojione:star"></span>
            </div>
            <span> <span class="iconify mr-2" data-icon="carbon:location-heart-filled" style="color: #df2f4c"> </span>48 Cao Thắng </span>
            <span> <span class="iconify mr-2" data-icon="bx:bxs-phone" style="color: #df2f4c"> </span>0988406374 </span>
          </div>
        </div>
      </div>
      <div class="toprating-list-col">
        <img
          src="https://images.unsplash.com/photo-1568386453619-84c3ff4b43c5?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mzh8fHN0b3JlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60"
          alt=""
          class="toprating-image"
        />
        <div class="info_store d-flex">
          <img
            src="https://images.unsplash.com/photo-1570158268183-d296b2892211?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDB8fGZhY2V8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60"
            alt=""
            class="avarta_store rounded-circle"
            width="60px"
            height="60px"
          />
          <div class="deltail_infor">
            <a href="">
              <h6 class="store_name">Thu Thủy Store</h6>
            </a>
            <div class="d-flex mb-3">
              <span class="iconify" data-icon="emojione:star"></span>
              <span class="iconify" data-icon="emojione:star"></span>
              <span class="iconify" data-icon="emojione:star"></span>
              <span class="iconify" data-icon="emojione:star"></span>
              <span class="iconify" data-icon="emojione:star"></span>
            </div>
            <span> <span class="iconify mr-2" data-icon="carbon:location-heart-filled" style="color: #df2f4c"> </span>48 Cao Thắng </span>
            <span> <span class="iconify mr-2" data-icon="bx:bxs-phone" style="color: #df2f4c"> </span>0988406374 </span>
          </div>
        </div>
      </div>
      <div class="toprating-list-col">
        <img
          src="https://images.unsplash.com/photo-1543996469-600fbadfc1e8?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTB8fHN0b3JlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60"
          alt=""
          class="toprating-image"
        />
        <div class="info_store d-flex">
          <img
            src="https://images.unsplash.com/photo-1531746020798-e6953c6e8e04?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTF8fGZhY2V8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60"
            alt=""
            class="avarta_store rounded-circle"
            width="60px"
            height="60px"
          />
          <div class="deltail_infor">
            <a href="">
              <h6 class="store_name">Thu Thủy Store</h6>
            </a>
            <div class="d-flex mb-3">
              <span class="iconify" data-icon="emojione:star"></span>
              <span class="iconify" data-icon="emojione:star"></span>
              <span class="iconify" data-icon="emojione:star"></span>
              <span class="iconify" data-icon="emojione:star"></span>
              <span class="iconify" data-icon="emojione:star"></span>
            </div>
            <span> <span class="iconify mr-2" data-icon="carbon:location-heart-filled" style="color: #df2f4c"> </span>48 Cao Thắng </span>
            <span> <span class="iconify mr-2" data-icon="bx:bxs-phone" style="color: #df2f4c"> </span>0988406374 </span>
          </div>
        </div>
      </div>
      <div class="toprating-list-col">
        <img
          src="https://images.unsplash.com/photo-1517492973030-a02d282206f7?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTd8fHN0b3JlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60"
          alt=""
          class="toprating-image"
        />
        <div class="info_store d-flex">
          <img
            src="https://images.unsplash.com/photo-1615813967515-e1838c1c5116?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NjN8fGZhY2V8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60"
            alt=""
            class="avarta_store rounded-circle"
            width="60px"
            height="60px"
          />
          <div class="deltail_infor">
            <a href="">
              <h6 class="store_name">Thu Thủy Store</h6>
            </a>
            <div class="d-flex mb-3">
              <span class="iconify" data-icon="emojione:star"></span>
              <span class="iconify" data-icon="emojione:star"></span>
              <span class="iconify" data-icon="emojione:star"></span>
              <span class="iconify" data-icon="emojione:star"></span>
              <span class="iconify" data-icon="emojione:star"></span>
            </div>
            <span> <span class="iconify mr-2" data-icon="carbon:location-heart-filled" style="color: #df2f4c"> </span>48 Cao Thắng </span>
            <span> <span class="iconify mr-2" data-icon="bx:bxs-phone" style="color: #df2f4c"> </span>0988406374 </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
